* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
}

section {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: rgb(63, 61, 61);
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    font-weight: bold;
    width: 200px;
    color: white;
    background-color: #2573e9;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}

.barra-navegacao-2 {
    width: 100%;
    /* max-width: 1440px; */
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e7eb;
}

.barra-navegacao-2 A:visited {
    color: #000099;
    /* text-decoration: none; */
}

.barra-navegacao-2 A:hover {
    color: #0080f0;
    text-decoration: none;
    border-bottom: 0;
}

.btn-voltar-pagina {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #062b4c;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
    text-decoration: none;
}

.btn-voltar-pagina:hover {
    background-color: #f3f4f6;
    /* color: var(--cor-destaque-claro);
    transform: translateX(-3px);  */
}

.btn-voltar-pagina i {
    font-size: 1rem;
}